{% extends "AppBlog/padre.html" %}

{% load static %}

{% block header %} 
<header class="masthead" style="background-image: url({% static 'assets/img/about-bg.jpg'%}">
{% endblock %}

{% block titulo %}
<h1 class="mb-5">Acerca de </h1>
<span class="subheading">Fruchdman, Alejandro Aarón</span>
<h1 class="mb-5"></h1>
{% endblock %}



{% block contenido_que_cambia %}
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p>                    
                Me desempeño laboralmente como PM, con amplia experiencia en todas las fases de la ingeniería de software. Habituado a la era digital, poseo habilidades blandas que focalizo en el negocio y sus stakeholders.
                Prefiero el trabajo en equipo y la comunicación en red, me adapto a condiciones cambiantes, me impongo la autogestión, la calidad, la disciplina y el espíritu colaborativo. Oportunamente he trabajado en diversas industrias como ser construcción, telcos, medios y judicial y en los últimos años he adquirido amplia experiencia en banca. Me apasiona la tecnología y procuró mantenerme informado, así es como estoy interiorizado en las prácticas devops, en arquitectura de microservicios, Api Management, BPM, como así también en cloud, restful, SOA y su gobierno. Las integraciones, orquestaciones e interfaces siempre han atraído mi interés.
                Estoy casado con Jesica (Contadora), Somos padres de Rebeca (6). Tengo dos hijas de mis primeras nupcias, Micaela(22) y Sofia(24). En mi tiempo libre prefiero las actividades deportivas como el runnning, natación y ciclismo. También cocinar y compartir tiempo con mi padre (90). 
                </p>
                <p>
                <h4 class="mb-5">Habilidades</h4>
                Análisis y diseño
                Son mis fortalezas el modelado UML, el analista y diseños de software OO, y muy especialmente aquello que involucre la persistencia de datos en cualquier SGBD, estoy al tanto de las tendencias noSQL. Dispongo de un buen manejo interpersonal para interactuar con clientes externos e internos interpretando las necesidades de negocio, para especificarlas funcionalmente/técnicamente.
                Tengo experiencia en confección de POC para la adopción de productos/software.
                </p>
                <p>
                <h4 class="mb-6">Gestión de Proyectos</h4>
                Según la cultura de cada organización, implemento metodologías de ingeniería de software, preferiblemente Agiles (Kanban o scrum) o orientadas a casos de uso, iterativas e incrementales; Pretendo impulsar iniciativas de transformación digital.
                Gestión y administración de recursos, tiempos y tareas en Ms Proyect, DotProyect, Jira, Confluence, Mantis, atTask, Asana, Toodledo, Trello o cualquier otros. Además de tareas de estimación y análisis de factibilidad.
                </p>
                <h4 class="mb-6">Desarrollo</h4>
                Amplia experiencia en SQL DML, DCL, DDL en Oracle, SqlSVR, DB2, MySQL o cualquier otro gestor, como así también tengo mucha experiencia en programación VB6 activeX. Interpreto source en cualquier lenguaje o tecnología; Tengo conocimientos en Java, framework hibernate strut spring.y en PHP. He operado Linux, Unix y mac; Recientemente me certifique como desarrollador WEb, jscrit y React en coderHouse.                <p>
                </p>
            </div>
        </div>
    </div>
</main>
{% endblock %}

