{% extends "AppBlog/padre.html" %}

{% load static %}

{% block header %} 
<header class="masthead" style="background-image: url({% static 'assets/img/home-bg.jpg'%}">
{% endblock %}

{% block titulo %} 
<h1>El Blog de Ale</h1>
<span class="subheading">Lista de categorias o Blogs de mi pagina</span>
{% endblock %}



{% block contenido_que_cambia %}
<hr>
<form action="{% url 'pages' %}" method="POST"> {% csrf_token %}
    <div class="input-group mb-3">
        {{ form.as_table }}
    <input class="btn btn-success" type="submit" value="Crear nuevo Blog">
    </div>
</form>
<hr>

<h3>{{ mensaje }}</h3>

{% if paginas %}

<table class="table table-success table-striped justify-content-md-center">
    <th>#</th><th>Tema</th><th>Descripcion</th><th>Editar</th><th>Eliminar</th>
    {% for pagina in paginas %}
    <tr>
        <td><a href="{% url 'blogs' %}?pagina_id={{ pagina.id }}&tema={{ pagina.tema }}&descripcion={{ pagina.descripcion }}">#{{ pagina.id }}</a></td>
        <td>{{ pagina.tema }}</td>
        <td>{{ pagina.descripcion }}</td>
        <td><a href="{% url 'editarPage' pagina.id %}">editar</a></td>
        <td><a href="{% url 'deletePage' pagina.id %}">eliminar</a></td>
    </tr>
    {% endfor %}
</table>
{% else %}
<h2>NO HAY Paginas</h2>
{% endif %}



{% endblock %}

