{% extends "mensajeria/padre.html" %}

{% load static %}

{% block titulo %}
<h1 class="mb-5">Tus Mensajes</h1>
{% endblock %}

{% block contenido_que_cambia %}

{% if mensajes %}

<table class="table table-success table-striped justify-content-md-center">
    <th>#</th><th>Emisor</th><th>Receptor</th><th>Leido?</th><th>Mensaje</th>
    {% for mensaje in mensajes %}
    <tr>        
        <td>{{ mensaje.id }}</td>
        <td>{{ mensaje.emisor }}</td>
        <td>{{ mensaje.receptor }}</td>
        <td>{{ mensaje.leido }}</td>
        <td>{{ mensaje.msg }}</td>
    </tr>
    {% endfor %}
</table>


{% else %}

<h2>NO HAY MENSAJES para vos</h2>

{% endif %}



{% endblock %}